body{
    color: rgb(#913d3d, green, blue);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}

.heading-container{
    text-align: center;
    margin-top: 20px;
    background: linear-gradient( to bottom , #f2f2f2 0% , #5b28b9 100%);

}

.main-container{
    display: flex ;
    flex-direction: column ;
    flex-wrap: wrap;
    justify-content: left;
    gap:  1em;
    padding: 0.5em;
    background: linear-gradient(to bottom, #40b3c7 0% , #87d668 100%
    );

}

.container {
    background-color: rebeccapurple ;
    padding: 1em;
    border-radius: 10px;
    width: 300px;
     margin: auto;
}